.about-container {
  display: flex;
  flex-direction: column;

  margin-left: 300px;
}

.about-info-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 16px;
}

.about-title {
  font-size: 2.125rem;
  font-weight: 700;

  margin-top: 42px;
}

.divider {
  width: 345px;
  height: 2px;

  background-color: var(--red);

  margin-top: 64px;
}

.about-info-description-container {
  display: flex;
  flex-direction: row;

  gap: 48px;
}

.about-info {
  margin-top: 24px;
}

.description-info {
  width: 780px;

  margin-top: 12px;
  margin-bottom: 12px;

  font-size: 1.125rem;
}

.info-important {
  font-size: 1.25rem;
  font-weight: 700;

  color: var(--red);
}

.image-about {
  width: 300px;
  height: 300px;

  margin-right: 240px;
}

@media screen and (max-width: 768px) {
  .about-container {
    margin: 24px;
  }

  .description-info {
    width: 380px;
    
    font-size: 1rem;
    text-align: justify;
  }

  .info-important {
    font-size: 1.125rem;
    text-align: justify;
  }

  .image-about {
    margin-top: 24px;
  }
}