.header {
  padding: 24px;

  height: 82px;

  background-color: #222222;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-left: 314px;
  margin-right: 314px;
}

.title-link {
  text-decoration: none;
  color: var(--white);
}

.title-link:hover {
  color: #dcdcdc;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.navigation {
  display: flex;
  gap: 24px;
}

.navigation-link {
  font-weight: 600;

  text-decoration: none;

  color: var(--white);

  transition: all 0.4s;
}

.navigation-link:hover {
  color: #dcdcdc;
}

@media screen and (max-width: 768px) {
  .header-container {
    margin: 0;
  }
}