.personal-information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 98px;
  margin-bottom: 98px;
}

.image {
  width: 250px;
  height: 250px;

  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 2.625rem;
  font-weight: 600;

  text-align: center;

  margin-top: 42px;
}

strong {
  color: var(--red);
}

.title {
  font-size: 1.5rem;
  
  text-align: center;

  margin-top: 12px;
}

.description {
  font-size: 1.125rem;

  text-align: center;
}

.experience {
  font-size: 1.25rem;
  font-weight: 600;

  margin-top: 88px;
}

.techs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 60px;

  margin-top: 48px;
}